.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
    margin-top: 73px;

    span {
        font-weight: 700;
        margin-left: 270px;
        font-size: 1.4em;
    }
}