$color_1: white;
$font-family_1: 'Roboto', 'sans-serif';
$background-color_1: F3F2F2;
$background-color_2: rgb(161, 161, 161);
$background-color_3: #B3B3B3;

.container-sort {
    width: 22%;
    font-weight: 500;
    font-family: $font-family_1;
}

.sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 3px 13px;
    border: 1px solid #414141;
    border-radius: 8px;
    background-color: $background-color_1;

    span {
        font-size: 1.8em;
    }
}

.sort-list-ul {
    margin-top: 15px;
    padding: 5px 8px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 4px 6px 12px 4px rgb(0, 0, 0, 0.2);
    letter-spacing: 0;

    li {
        font-size: 0.9rem;
    }

    .sort-list-li {
        cursor: pointer;
        border-radius: 8px;
        font-size: 1.4em !important;
        padding: 5px 10px;

        &:hover {
            background-color: $background-color_2;
        }
    }

    .sort-li-active {
        background-color: $background-color_3;
        color: $color_1;
    }
}