$color_1: black;
$color_2: white;
$color_3: rgba(177, 177, 177);
$font-family_1: "Inter", sans-serif;
$font-family_2: "Roboto", sans-serif;
$background-color_1: rgb(32, 64, 128);
$background-color_2: rgb(79, 117, 194);
$background-color_3: rgb(240, 240, 240);

body {
	margin: 0;
	font-size: 10px;
	font-family: $font-family_1;
	letter-spacing: 0.5px;
}

#root {
	width: 1280px;
	margin: 0 auto;
}

.body-home {
	padding: 64px 64px 0 64px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $color_1;
}

li {
	list-style-type: none;
	padding: 0 5px;
}

p {
	margin: 0;
}

button {
	background-color: $background-color_1;
	color: $color_2;
	border: none;
	border-radius: 12px;
	padding: 13px 40px;
	cursor: pointer;
	transition: all 0.2s;
	font-weight: 500;
	font-size: 1.8em;
	font-family: $font-family_2;

	&:hover {
		background-color: $background-color_2;
	}

	a {
		color: $color_2  !important;
	}
}

input {
	padding: 10px 17px;
	border: 2px solid #484848;
	font-size: 1.8em;
	font-weight: 500;
	font-family: $font-family_2;

	&:hover {
		background-color: $background-color_3;
	}

	&::placeholder {
		color: $color_3;
		opacity: 1;
	}

	&::-ms-input-placeholder {
		color: $color_3;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $color_3;
		opacity: 1;
	}
}

.box-btn-add {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}